{%extends 'Household.html'%}
{%block household%}
<style>
</style>
<form class="" method="post">
  <div class="row">
          <div class="form-group col-2">
                    <label for="">Household Number</label>
                    <input type="text" class="form-control" name="hh" required>
          </div>
          <div class="form-group col-3">
                    <label for="">Province</label>
                    <select class="form-select" name="province" required>
                      <option>SULTAN KUDARAT</option>
                    </select>
          </div>

                    <div class="form-group col-3">
                    <label for="">Municipality</label>
                    <select class="form-select" name="municipality" required>
                      <option>BAGUMBAYAN</option>
                    </select>
          </div>

          <div class="form-group col-3">
                    <label for="">BARANGAY</label>
                    <select type="text" class="form-select" name="barangay" required>
                      <option value="--">--</option>
                        {%for b in brgy%}
                        <option value="{{b[0]}}">{{b[1]}}</option>
                        {%endfor%}
                      </select>
          </div>


            <div class="form-group col-11">
              <label for="">Address (Street Name, Purok/Sitio)</label>
              <input type="text" class="form-control" name="address" required>
            </div>
            <h6>LOCATION</h6>
          <div class="form-group col-2">
                    <label for="">Latitude</label>
                    <input type="text" class="form-control" name="latitude">
          </div>
          <div class="form-group col-2">
                    <label for="">Longitude</label>
                    <input type="text" class="form-control" name="longitude">

          </div>
          <hr>
          <div class="form-group col-2">
                    <input type="submit" class="btn btn-success btn-sm">
                
          </div>
          <hr>
  </div>
</form>
{%endblock%}