<div style="width: 80%;margin: auto;">
<H6>RBI FORM A(Revised 2024)</H6>
<H6 style="text-align: center;">INDIVIDUAL RECORDS OF BARANGAY INHABITANT</H6>
<table style="width: 100%;">
<tr>
    <td style="max-width: 20%;">REGION</td>
    <td>:</td>
    <td><strong><u>REGION XII</u></strong></td>
    <td></td>
    <td>CITY/MUN</td>
    <td>:</td>
    <td><strong><u>BAGUMBAYAN</u></strong></td>
    <td></td>
</tr>
<tr>
    <td>PROVINCE</td>
    <td>:</td>
    <td><strong><u>SULTAN KUDARAT</u></strong></td>
    <td></td>
    <td>BARANGAY</td>
    <td>:</td>
    <td><strong><u></u></strong></td>
    <td></td>
</tr>
</table>


</div>
<div style="width: 80%;border: 4px solid;padding: 10px;margin: auto;height: 800;">
<h4 style="text-align: center;">PERSONAL INFORMATION</h4>
                    <input style="top: 50px;left: 50px;" type="text" class="form-control" name="latitude">
                     <label style="top: 50px;left: 50px;">(PhilSys Card No.)</label>
</div>

<style>
    *{font-family: arial;font-size: 12;}
    #tbl,#tbl th, #tbl td, #tbl tr{border: 1px solid;border-collapse: collapse;}
    #tbl{width: 100%;}
    label{font-size: smaller;}
    label,input[type='text']{position:absolute;}
    input{font-weight: bolder;border: 1px solid gray;padding: 10px;}
</style>